<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated chaiseMinute -->
      <package
            uri="http://chaiseMinute"
            class="chaiseMinute.ChaiseMinutePackage"
            genModel="chaiseMinute.genmodel"/>
   </extension>

</plugin>
