<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated chaiseMinute -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="chaiseMinute.presentation.ChaiseMinuteModelWizardID"
            name="%_UI_ChaiseMinuteModelWizard_label"
            class="chaiseMinute.presentation.ChaiseMinuteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ChaiseMinuteModelFile.gif">
         <description>%_UI_ChaiseMinuteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated chaiseMinute -->
      <editor
            id="chaiseMinute.presentation.ChaiseMinuteEditorID"
            name="%_UI_ChaiseMinuteEditor_label"
            icon="icons/full/obj16/ChaiseMinuteModelFile.gif"
            extensions="chaiseminute"
            class="chaiseMinute.presentation.ChaiseMinuteEditor"
            contributorClass="chaiseMinute.presentation.ChaiseMinuteActionBarContributor">
      </editor>
   </extension>

</plugin>
